<div class="sidebar">
  <div class="sidebar-inner-index">
    <ul class="main-menu">
      <%- partial('partials/main_menu', { context: 'sidebar' }) %>
    </ul>
  </div>
</div>


<div id="hero">
  <!-- <div class = 'imac'>
    <img src="https://docs.jekyll.plus/assets/posts/imac.svg" alt="">
  </div> -->
  <div class="inner">
    <h1>FIBOS 开发者社区</h1>
    <p class="introduce">
      FIBOS 是一个创造和发展区块链应用生态的平台，让您轻松创建属于自己的价值网络，帮助开发者和创业者一步进入区块链世界
    </p>
    <p class="start">
      <a class="button white" href="<%- url_for("/guide/installation.html") %>">快速入门</a>
      <a class="button gray has-icon" href="https://github.com/fibosio" target="_blank">
        <%- partial('icons/github-dark') %>
        GITHUB</a>
    </p>
  </div>
</div>
</div>

<div id="highlights">
  <div class="inner">
    <a href="<%- url_for("/guide/introduction.html") %>" class="point">
        <div>
            <span>
                <img src="<%- url_for("/images/start.png") %>" alt="">
                </span>
                <h3>新手入门</h3>
                <p>Get your account up and running in just few easy steps</p>
      
      </div>
    </a>

    <a href="<%- url_for("/guide/smart-contract-instructions.html") %>" class="point">
        <div>
                <span>
                    <img src="<%- url_for("/images/advanced.png") %>" alt="">
                  </span>
                  <h3>进阶指南</h3>
                  <p>Managing your account, creating new users and exporting data</p>
          </div>
    </a>

    <a href="<%- url_for("/api/smartcontract/index.html") %>" class="point">
        <div>
                <span style="position:relative;top:6px">
                    <img src="<%- url_for("/images/api.png") %>" alt="">     
                </span>
                  <h3 style="position:relative;top:2px">技术手册</h3>
                  <p>Answers to most common configuration issues</p>
          </div>
    </a>

  </div>

  <div class="document">
    <h2>Popular Articles</h2>
    <ul class="Articles">
      <li><a href="">How To Setup Domain SSL With Github Pages</a></li>
      <li><a href="">Category hosting Setting up new domain and page</a></li>
      <li><a href="">Cancelling a website subscription</a></li>
      <li><a href="">Creating new page in Jekyll and publishing</a></li>
      <li><a href="">Getting started with our application</a></li>
      <li><a href="">Accepted currencies for product billing</a></li>
      <li><a href="">Getting a JavaScript console error</a></li>
      <li><a href="">Understanding company billing and accounts</a></li>
    </ul>
  </div>
</div>




<div id="footer">
  <div class="social-icon">
    <div>
      <ul>
        <li>
          <a href="javascript:void(0)" class="qrcode">
            <img class="hero-logo" src="<%- url_for("/images/Shape.png") %>">
            <img class="qrcodeImg" src="<%- url_for("/images/qrcode.jpeg") %>">
          </a>
        </li>
        <li>
          <a href="https://weibo.com/u/6563835901?" target="_blank">
            <img class="hero-logo" src="<%- url_for("/images/wbcopy.png") %>">
          </a>
        </li>
        <li>
          <a href="https://t.me/FIBOSDEV" target="_blank">
            <img class="hero-logo" src="<%- url_for("/images/telegram.png") %>">
          </a>
        </li>
        <li>
          <a href="https://github.com/FIBOSIO" target="_blank">
            <img class="hero-logo" src="<%- url_for("/images/github.png") %>">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="Copyright">
    <p>
      Copyright © 2018 - 2019 <a href="https://fibos.io/" target="_blank">FIBOS.IO</a> All Rights Reserved
    </p>
  </div>

</div>


<script>
  (function () {
    var topScrolled = false
    var sponsors = document.getElementById('highlights')
    var sponsorTop = sponsors.offsetTop
    var sponsorActive = false

    window.addEventListener('resize', function () {
      sponsorTop = sponsors.offsetTop
    })

    window.addEventListener('scroll', function () {
      if (window.pageYOffset > 165 && !topScrolled) {
        topScrolled = true
        document.getElementById('mobile-bar').classList.remove('top')
      } else if (window.pageYOffset <= 165 && topScrolled) {
        topScrolled = false
        document.getElementById('mobile-bar').classList.add('top')
      }
      if (window.pageYOffset > sponsorTop - 100) {
        if (!sponsorActive) {
          sponsorActive = true
          sponsors.classList.add('active')
        }
      } else {
        if (sponsorActive) {
          sponsorActive = false
          sponsors.classList.remove('active')
        }
      }
    })
  })()
</script>